#adverbs-section {
    box-sizing: border-box;
    height: 100vh;
    color: hsl(0, 0%, 100%);
    font-family: "Burton";
    background-size: 120px, 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    list-style: none;
    font-size: 35px;
    font-weight: 700;
    text-shadow: 2px 4px 4px black;    
    position: relative;
}

  #ly-words {
    color: orangered;
  }
  
  #adverbs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  #adverbs ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-basis: calc((50% - 20px) * 3);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
  }
  
  #adverbs li {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    text-shadow: 2px 4px 4px black;
    margin: 10px;
    padding: 10px;
    animation: float 1.5s linear infinite;
    width: calc((100% / 5 - 20px) * 1.5);
    height: 50px; 
    line-height: 50px; 
    box-sizing: border-box; 
    font-family: "Burton";
    color: orangered
  }
  
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  #adverbs li:hover {
    color: red;
    cursor: pointer;
    animation-play-state: paused;
  }
  
  #adverbs li::after {
    content: "";
  }
  
  #adverbs li.clickable.subscript::after {
    content: "🍵";
    font-size: 0.6em;
    vertical-align: sub;
    margin-left: 2px;
  }
  
