#adverbs-section h1 {
    color: orangered;
    font-size: 75px;
    font-weight: 600;
    text-shadow: 2px 4px 4px black;
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    font-family: "Alice";
}

#adverbs-section h2 {
    color: white;
    font-size: 45px;
    font-weight: 600;
    text-shadow: 2px 4px 4px black;
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    font-family: "Burton";
}

#adverbs-section h3 {
    height: 35vh;
}

#ly-words {
    color: orangered;
}

#adverbs-section h4{
    color: white;
    color: rgb(206, 203, 203);
    font-size: 35px;
    font-weight: 700;
    text-shadow: 2px 4px 4px black;
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    font-family: "Burton";
    margin: 10px 200px 30px 200px;
}

#adverbs {
    box-sizing: border-box;
    min-height: 100vh;
    color: hsl(0, 0%, 100%);
    font-family: "Burton";
    background-size: 120px, 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    list-style: none;
    font-size: 2rem;
    position: relative;
    color: rgb(206, 203, 203);
    font-size: 20px;
    font-weight: 700;
    text-shadow: 2px 4px 4px black;
  }
  
  #adverbs li[data-word] {
    height: auto; 
    display: block; 
    text-align: center; 
    text-shadow: 0 1px 5px hsla(0, 0%, 0%, 0.8);
    font-size: 3rem; 
    margin: 2rem 0; 
  }

  #adverbs li:hover {
    color: white; 
    // cursor: pointer;
  }

  #adverbs-section {
    height: 150vh;
  }