footer h4 {
  color: orangered;
  font-size: 35px;
  font-weight: 600;
  text-shadow: 2px 4px 4px black;
  display: flex;
  width: auto;
  justify-content: center;
  text-align: center;
  font-family: "Burton";
  // margin: 0px 80px 0px 0px;
 
}

footer h3 {
  height: 20vh;
}