#frequent-words h1 {
    color: orangered;
    font-size: 75px;
    font-weight: 600;
    text-shadow: 2px 4px 4px black;
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    font-family: "Alice";
}

#frequent-words h2 {
    color: white;
    font-size: 45px;
    font-weight: 600;
    text-shadow: 2px 4px 4px black;
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    font-family: "Burton";
}

#frequent-words h4{
    color: rgb(206, 203, 203);
    font-size: 35px;
    font-weight: 700;
    text-shadow: 2px 4px 4px black;
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    font-family: "Burton";
    margin: 10px 200px 30px 200px;
}

#frequent-words h3{
    height: 100vh;
}

#frequent-words h5{
    color: orangered;
    font-size: 35px;
    font-weight: 700;
    text-shadow: 2px 4px 4px black;
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    font-family: "Burton";
    margin: 30px 200px 10px 200px;
    position: sticky;
}

li[title] {
    position: relative;
  }
  
  li[title]:hover:after {
    content: attr(title);
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
    padding: 5px;
    background: white;
    font-weight: bold;
    font-size: 0.9em;
    color: green;
  }

  li[title].active:after {
//   li.active:after {
    content: attr(data-definition);
    position: absolute;
    // z-index: 1;
    // top: -120%;
    // left: 50%;
    top: 0;
    left: 100%;
    // transform: translate(-50%, 0);
    transform: translate(10px, 0);
    white-space: nowrap;
    padding: 5px;
    background: white;
    font-weight: bold;
    font-size: 0.9em;
    color: blue;
  }

#frequent-words {
    box-sizing: border-box;
    min-height: 100vh;
    color: hsl(0, 0%, 100%);
    // color: blue;
    font-family: "Burton";
    background-size: 120px, 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    counter-reset: num-counter;
    font-size: 2rem;
    position: relative;
}

li[data-word] {
    counter-increment: num-counter;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-shadow: 0 1px 5px hsla(0, 0%, 0%, 0.8);
    z-index: 5;
}

//These are the numbers 1-10
#frequent-words li[data-word]:before { 
    content: counter(num-counter);
    z-index: -5;
    position: absolute;
    opacity: 0.5;
    font-size: 15vh;
    font-family: "Burton";
    transform: translate(-50%, 0%);
}

#frequent-words li[data-word]::selection {
    color: hsl(0, 0%, 100%);
    background: hsl(22, 93%, 39%);
}

#frequent-words li[data-word]:nth-child(odd):before {
    left: 0%;
}
#frequent-words li[data-word]:nth-child(even):before {
    left: 100%;
}

#frequent-words li[data-word]{
    position: sticky;
}

@for $counter from 1 through 10 {
    li[data-word]:nth-child(#{$counter}) {
        top: #{($counter - 1) * 7.5vh};
        height: #{100vh - ($counter - 1) * 7.5vh};
    }
}

#frequent-words li:hover {
    color: white; 
    // cursor: pointer;
  }





