header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
  }

header h4 {
    color:orangered;
    font-style: italic;
    font-family: "Burton";
    font-size: 45px;
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    text-shadow: 2px 4px 4px black;
}

header h5 {
    color: white;
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    font-family: "Burton";
    font-weight: 600;
    text-shadow: 2px 4px 4px black;
    font-size: 40px;
}


#menu-toggle {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 10px;
    font-size: 32px;
    cursor: pointer;
    z-index: 2;
    font-family: "Alice";
    color: white;
    background: none;
    order: 1;
    border: none;
  }

  #menu-toggle:hover {
    color: red;
  }

  
#links-container {
    justify-content: right;
    display: flex;
    align-items: center;
    width: auto;
    top: 0;
    z-index: 999;
    order: 3;
    position: fixed;
    right: 0;
    margin: 10px;
    padding: 10px;
  }

  .social-link {
    width: auto;
    // margin: 10px;
    justify-content: right;
    display: flex;
    top: 0;
    z-index: 999;
    width: auto;
    text-decoration: none;

  }

  .github-social-link {
    width: auto;
    margin-right: 15px;
    justify-content: right;
    display: flex;
    top: 0;
    z-index: 999;
    width: auto;
    text-decoration: none;

  }

  .github-social-link i,
  .social-link i {
    font-size: 32px;
    color: white; 
    text-decoration: none;
  }
  
  .github-social-link:hover i,
  .social-link:hover i {
    color: red; 
  }

  .sidebar-menu {
    position: fixed;
    top: 75px;
    left: -250px;
    width: 250px;
    height: 100%;
    z-index: 1;
    transition: left 0.3s ease-in-out;
    font-family: 'Playfair Display', serif;
  }

  .sidebar-menu.show {
    left: 0;
    top: 75px;
    margin-left: 25px;
  }

  .sidebar-menu li {
    padding-bottom: 10px;
  }

  .sidebar-menu li a:hover {
    color: red;
    text-shadow: .5px 1px 1px black;

  }
  
  .sidebar-menu li a {
    color: white;
    padding-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
    text-shadow: .5px 1px 1px black;

  }
  

  
