#long-ones h1 {
    color: orangered;
    font-size: 75px;
    font-weight: 600;
    text-shadow: 2px 4px 4px black;
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    font-family: "Alice";
}

#long-ones h2 {
    color: white;
    font-size: 45px;
    font-weight: 600;
    text-shadow: 2px 4px 4px black;
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    font-family: "Burton";
}

#long-ones h3 {
    height: 50vh
}

#ten-words {
    color: orangered;
}


#long-ones h4{
    color: white;
    color: rgb(206, 203, 203);
    font-size: 35px;
    font-weight: 700;
    text-shadow: 0 1px 5px hsla(0, 0%, 0%, 0.8);
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    font-family: "Burton";
    margin: 10px 200px 30px 200px;
}

#long-ones li {
    color: white;
}

#long-ones {
    box-sizing: border-box;
    min-height: 100vh;
    color: hsl(0, 0%, 100%);
    font-family: "Burton";
    background-size: 120px, 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    list-style: none;
    font-size: 35px;
    font-weight: 700;
    text-shadow: 2px 4px 4px black;    
    position: relative;
  }
  
  #long-ones li[data-word] {
    height: auto; 
    display: block; 
    text-align: center; 
    text-shadow: 0 1px 5px hsla(0, 0%, 0%, 0.8);
    font-size: 32px; 
    margin: 2rem 0; 
  }

  #long-ones li:hover {
    color: orangered; 
    cursor: pointer;
  }
  







