#long-ones h1 {
    color: orangered;
    font-size: 75px;
    font-weight: 600;
    text-shadow: 2px 4px 4px black;
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    font-family: "Alice";
}

#long-ones h2 {
    color:white;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    text-shadow: 2px 4px 4px black;
    padding-bottom: 15px;
}

.longest-header {
    color:orangered;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    text-shadow: 2px 4px 4px black;
    padding-bottom: 15px;
}

#ten-words {
    color: orangered;
    font-family: "Burton";
}


#long-ones h4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Burton";
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 2px 4px 4px black;
    margin: 0 auto; 
    padding-top: 10px;
    padding-bottom: 50px;
}

#long-ones li {
    color: white;
}

#long-ones {
    box-sizing: border-box;
    height: 100vh;
    color: hsl(0, 0%, 100%);
    font-family: "Burton";
    background-size: 120px, 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    list-style: none;
    font-size: 35px;
    font-weight: 700;
    text-shadow: 2px 4px 4px black;    
    position: relative;
  }
  
  #long-ones li[data-word] {
    height: auto; 
    display: block; 
    text-align: center; 
    text-shadow: 0 1px 5px hsla(0, 0%, 0%, 0.8);
    font-size: 32px; 
    margin: 2rem 0; 
    transition-duration: 0.4s;
    font-family: "Burton"  
}

  #long-ones li:hover {
    color: orangered; 
    cursor: pointer;
  }
  