#metrics h1 {
    color: orangered;
    font-size: 75px;
    font-weight: 600;
    text-shadow: 2px 4px 4px black;
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    font-family: "Alice";
}

#metrics h2 {
    color: white;
    font-size: 45px;
    font-weight: 600;
    text-shadow: 2px 4px 4px black;
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    font-family: "Burton";
}

#metrics h4{
    color: white;
    font-size: 35px;
    font-weight: 600;
    text-shadow: 2px 4px 4px black;
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
    font-family: "Burton";
    margin: 10px 200px 30px 200px;
}

#total-words {
    color: orangered;
}

#num-pairs {
    color: orangered;

}

#emphasis {
    color: orangered;
}

