@import "./styles/adverbs.scss";
@import "./styles/frequent-words.scss";
@import "./styles/header.scss";
@import "./styles/invented.scss";
@import "./styles/long-words.scss";
@import "./styles/reset.scss";
@import "./styles/stats.scss";
@import "./styles/footer.scss";

@font-face {
    font-family: "Alice";
    src: url("/assets/Aliciawonderland-ZoM8.ttf");
  }

@font-face {
  font-family: "Burton";
  src: url("/assets/BurtonsDreamsPro-R1rE.ttf");
}

body {
    background-color: black;
    background-image: url("/assets/tunnel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
