@import "./styles/frequent-words.scss";
@import "./styles/header.scss";
@import "./styles/invented.scss";
@import "./styles/long-words.scss";
@import "./styles/reset.scss";
@import "./styles/metrics.scss";
@import "./styles/footer.scss";
@import "./styles/adverbs.scss";
@import "./styles/intro.scss";

@font-face {
    font-family: "Alice";
    src: url("../assets/Aliciawonderland-ZoM8.ttf");
  }

@font-face {
  font-family: "Burton";
  src: url("../assets/BurtonsDreamsPro-R1rE.ttf");
}

html {
  background-image: url("../assets/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

html::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5); /* Set the opacity value to 0.5 (50%) */
}



.boxes-container {
  display: flex;
  justify-content: space-between;
  position: fixed; 
  bottom: 10px; 
  right: 10px; 
}


.spare-box {
  display: flex;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: white;
  padding: 10px;
  font-family: "Burton";
  font-size: 20px;
  color: blue;
  background: url("../assets/bunny-scroll.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  z-index: 1;
  border-radius: 15px;
  margin-right: 20px;
  // position: sticky;
  // left: 10px;
}

#word-definition-box {
  display: inline-block;
  height: 100%;
  width: 450px;
  border: 1px solid black;
  padding: 10px;
  font-family: "Burton";
  font-size: 30px;
  color: orangered;
  background-color: rgba(255, 255, 255, 0.7); 
  z-index: 1;
  border-radius: 15px; 
  box-shadow: 3px 5px 5px black;
  align-items: center; 
  position: sticky; 
  bottom: 30px;
  margin-left: 170px;
}

li {
  cursor: pointer;
}

li:hover {
  color: orangered; 
  cursor: pointer;
}

.long-word {
  color: orangered;
  font-size: 35px;
  font-weight: 300;
  text-shadow: .5px 1px 1px black;
}

.definition {
  // font-style: italic;
color: rgb(63, 63, 63);
font-size: 35px;
font-weight: 300;
text-shadow: .5px 1px 1px black;
}

#click-word{
  cursor: pointer;
  color: orangered;
  font-family: "Burton";
}